
@{
    ViewData["Title"] = "Home Page";
}



@*
@model List<BlogApp.Models.Novel>

<partial name="_PersonalRecommendSection" />
<partial name="_EditorRecommendSection" />
<partial name="_GodRecommendSection" />
*@

<div style="text-align:center; margin-top:80px;">
    <h2>欢迎来到中文网！</h2>
    <p>（你可以在这里展示任何内容，先确保能访问首页）</p>
</div>