@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">长河小说网</h1>
    <a class="btn btn-primary" href="/Novel/Index">管理书籍</a>
    <a class="btn btn-success" href="/Novel/Create">新建书籍</a>
</div>
